/*-- scss:defaults --*/

$callout-color-note: #7FCDCD;
$callout-color-tip: #7FCDCD;
$callout-color-caution: #7FCDCD;
$callout-color-warning: #7FCDCD;
$callout-color-important: #7FCDCD;


/*-- scss:rules --*/
